<html>
   <body>
      <center>
      <h1>Voto-2019</h1>
      <br>
      <h1>Resultados de la elecciones:</h1>
      <br>
      <p>Petra tiene:{{vop}}
      <br>
      <p>pedro tiene:{{vopd}}
      <br>
      <p>Quieres <a href="/voto">salir</a>?
      </center>
   </body>
</html>